body {
    background-color: #DEF3FA;
    color: #195177;
}

/* NAVBAR */
nav {
    background-color: #195177;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
.nav-link-styles:hover {
    opacity: 0.7;
}
.nav-link-styles h5 {
    margin-bottom: 0;
    color: #55A4CB;
}

/* FORM */
form {
    margin-top: 60px;
}
form .label-styles {
    font-weight: bold;
}
form .form-styles {
    border: 1px solid #7FDAE6;
    border-radius: 0;
}
.required-asterisk:after {
    position: absolute;
    right: 3px;
    top: 0;
    content: '*';
    color: red;
} 
form .button-styles {
    background-color: #F15926;
    color: white;
    width: 25%;
}
.validation-message {
    margin-bottom: 0px;
}

/* TABLE */
.table-styles {
    border: none;
    margin-top: 30px;
}
table thead {
    background-color: #12507A;
    color: #55A4CB;
}
table thead .thead-styles {
    border: 0;
}
.tbody-row:nth-child(even) {
    background-color: white;
}
.tbody-row td {
    border: none;
    font-weight: bold;
}
.no-employees-container {
    margin-top: 60px;
    text-align: center;
}
.no-employees-container .button-styles {
    background-color: #F15926;
    color: white;
}