{% extends "base.html.twig" %}

{% block title %}Employee Form{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    <div class="container">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-8 text-center">
                                <h3>Employees</h3>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 pr-lg-0">
                                            <label for="inputFirstName" class="col-form-label float-lg-right label-styles">First name:</label>
                                        </div>
                                        <div class="col-lg-9 required-asterisk">
                                            <input type="text" class="form-control form-styles" id="inputFirstName" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 pr-lg-0">
                                            <label for="inputLastName" class="col-form-label float-lg-right label-styles">Last name:</label>
                                        </div>
                                        <div class="col-lg-9 required-asterisk">
                                            <input type="text" class="form-control form-styles" id="inputLastName" name="last_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 pr-lg-0">
                                            <label for="inputDOB" class="col-form-label float-lg-right label-styles">Date of birth:</label>
                                        </div>
                                        <div class="col-lg-5 required-asterisk">
                                            <input type="text" class="form-control form-styles" id="inputDOB" name="dob" placeholder="DD/MM/YY">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 pr-lg-0">
                                            <label for="inputEmail" class="col-form-label float-lg-right label-styles">Email address:</label>
                                        </div>
                                        <div class="col-lg-9 required-asterisk">
                                            <input type="email" class="form-control form-styles" id="inputEmail" name="email_address">
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-lg-7">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 offset-lg-3">
                                            <button type="submit" class="btn button-styles" name="submit">SUBMIT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}